<strong>1. Login server</strong>
<br/>
Ssh root@………………….(server name)
<br/>
pass: ……………. (password server)
<br/>
<strong>2. Install python</strong>
<br/>
<i>Update application</i>
<br/>
- sudo apt-get update
<br/>
<i>Install python3 and pip3</i>
<br/>
- sudo apt install git python3-pip build-essential wget python3-dev python3-wheel libxslt-dev libzip-dev libldap2-dev libsasl2-dev python3-setuptools node-less
<br/>
<strong>3. Create user odoo</strong>
<br/>
<i>Create super user 'odoo'</i>
<br/>
- sudo useradd -m -d /opt/odoo -U -r -s /bin/bash odoo
<br/>
<strong>4. Install and configure postgresql</strong>
<br/>
<i>Install postgresql 12</i>
<br/>
- sudo apt install postgresql
<br/>
<i>Create supper user postgres 'odoo'</i>
<br/>
- sudo su - postgres -c "createuser -s odoo"
<br/>
<strong>5. Install Wkhtmltopdf</strong>
<br/>
<i>Download wkhtmltopdf</i>
<br/>
- wget https://github.com/wkhtmltopdf/wkhtmltopdf/releases/download/0.12.5/wkhtmltox_0.12.5-1.bionic_amd64.deb
<br/>
<i>Run wkhtmltopdf</i>
<br/>
- sudo dpkg -i wkhtmltox_0.12.5-1.bionic_amd64.deb
<br/>
<i>Install wkhtmltopdf</i>
<br/>
- sudo apt -f install
<br/>
<i>Check version</i>
<br/>
- wkhtmltopdf –version
<br/>
<strong>6. Clone odoo12</strong>
<br/>
<i>Connect odoo user</i>
<br/>
- sudo su odoo
<br/>
<i>Clone Odoo version by branch</i>
<br/>
- git clone https://www.github.com/odoo/odoo --depth 1 --branch 12.0 /opt/odoo/odoo12
<br/>
<strong>7. Install requirements.txt</strong>
<br/>
<i>Enter folder contain odoo-bin</i>
<br/>
- cd /opt/odoo/odoo12/
<br/>
<i>Install library requirements.txt</i>
<br/>
- pip3 install -r requirements.txt
<br/>
exit
<br/>
<strong>8. Configure file .conf</strong>
<br/>
<i>Create file .conf</i>
<br/>
- sudo vim /etc/odoo12.conf
<br/>
<i>Configurations odoo12.conf</i>
<br/>
###################COPY####################
<br/>
<pre>
[options]
; This is the password that allows database operations:
db_host = False
db_port = False
db_user = odoo
db_password = False
addons_path = /opt/odoo/odoo12/addons,/opt/odoo/odoo12/odoo/addons

</pre>
#######################################
<br/>
(press ESC and :wq to save and quit)
<br/>
<strong>9. Configure odoo12.service</strong>
<br/>
<i>Configure odoo12.service</i>
<br/>
- sudo vim /etc/systemd/system/odoo12.service
<br/>
############____COPY____################
<br/>
<pre>
[Unit]
Description=Odoo12
Requires=postgresql.service
After=network.target postgresql.service

[Service]
Type=simple
Syslogldentifier=odoo12|
PermissionStartOnly=true
User=odoo
Group=odoo
ExecStart= /opt/odoo/odoo12/odoo-bin --config /etc/odoo12.conf
StandardOuput=Journal+console

[Install]
WantedBy=multi-user.target

</pre>
<br/>
##################################################
<br/>
<strong>10. Run odoo12 on server</strong>
<br/>
<i>test without Nginx</i>
<br/>
<i>Connect odoo user</i>
<br/>
- sudo su odoo
<br/>
<i>Enter folder odoo12</i>
<br/>
- cd /opt/odoo/odoo12
<br/>
<i>Run odoo-bin with odoo12.conf</i>
<br/>
- python3 odoo-bin -c /etc/odoo12.conf
<br/>
<i>Access server run odoo12</i>
<br/>
- systemctl daemon-reload
<br/>
- systemctl restart odoo12
<br/>
- systemctl status odoo12
<br/>
<strong>11. Install Nginx</strong>
<br/>
<i>Install Nginx</i>
<br/>
- sudo apt-get install nginx
<br/>
- systemctl start nginx
<br/>
- systemctl enable nginx
<br/>
- systemctl status nginx
<br/>
<u>The output of the command above should be similar to this:</u>
<hr/>
<pre>
    ● nginx.service - A high performance web server and a reverse proxy server
       Loaded: loaded (/lib/systemd/system/nginx.service; enabled; vendor preset: enabled)
       Active: active (running)
     Main PID: 4062 (nginx)
       CGroup: /system.slice/nginx.service
               ├─4062 nginx: master process /usr/sbin/nginx -g daemon on; master_process on
               ├─4063 nginx: worker process
               └─4064 nginx: worker process

`</pre>
<br/>
<i>Create file my-odoo-site.com</i>
<br/>
- sudo vim /etc/nginx/sites-available/my-odoo-site.com
<br/>
##############____COPY____ #########################
<br/>
<pre>
    upstream odoo {
	server 127.0.0.1:8069;
}

server {
    listen      80 default;
    server_name my-odoo-site.com;

    access_log  /var/log/nginx/odoo.access.log;
    error_log   /var/log/nginx/odoo.error.log;

    proxy_buffers 16 64k;
    proxy_buffer_size 128k;

    location / {
        proxy_pass  http://odoo;
        proxy_next_upstream error timeout invalid_header http_500 http_502 http_503 http_504;
        proxy_redirect off;

        proxy_set_header    Host            $host;
        proxy_set_header    X-Real-IP       $remote_addr;
        proxy_set_header    X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header    X-Forwarded-Proto https;
    }

    location ~* /web/static/ {
        proxy_cache_valid 200 60m;
        proxy_buffering on;
        expires 864000;
        proxy_pass http://odoo;
    }
}
</pre>
<br/>
###############################################
<br/>
<i>Activate the server block by creating a symbolic link :</i>
<br/>
- ln -s /etc/nginx/sites-available/my-odoo-site.com /etc/nginx/sites-enabled/my-odoo-site.com
<br/>
<i>Remove sites nginx default</i>
- rm -f /etc/nginx/sites-enabled/default
<br/>
<i>Apply setting</i>
- nginx -t
<br/>
<i>Restart Nginx and restart Odoo</i>
- service nginx restart
<br/>
- systemctl restart odoo12
<br/>
<footer>
    <i>Product by Melissa</i>
</footer>

